* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
   font-family: 'Outfit', sans-serif;
   background-color: hsl(212, 45%, 89%);
   font-size: 15px;
}
.content {
    width: 350px;
    height: 550px;
    margin: 126px auto;
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    text-align: center;
    
}
.content .image {
    padding: 20px;
}
.content .image img {
   max-width: 100%;
   border-radius: 10px;
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   -ms-border-radius: 10px;
   -o-border-radius: 10px;
}
.content h2 {
   color: hsl(218, 44%, 22%);
   width: 300px;
   margin: 0 auto ;
}
.content p {
    color: hsl(220, 15%, 55%);
    width: 230px;
    margin: 20px auto ;
    
}
